# Зависимости
node_modules/
.pnp
.pnp.js

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Окружение
.env
.env.local
.env.*.local

# Редакторы
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Сборки
dist/
build/
.cache/

# Системные
*.local
